logs
simple_output*
**/*.sh
**/*.db*
**/*.csv
**/*.crt
**/*.key
**/__pycache__

# Ignore all .json files
**/*.json
# But do NOT ignore any .json files inside the 'dataset/' folder
!dataset/**/*.json

# Ignore all temporary files. This takes precedence over the JSON rule.
**/tmp*