# log_base_dir is default to ../logs. You can ignore it to use the default value.
# The output_dir is the output directory of simple_mr_for_local.py
python statistic.py \
    --api_file <api_file> \
    --log_base_dir <log_base_dir> \
    --output_dir <output_dir> \